.root {
    -fx-background-color: #262424;
}

.botao-voltar {
    -fx-background-color: white;
}

.botao-voltar:hover {
    -fx-background-color: #d2d1d1;
}

.botao-voltar:pressed {
    -fx-background-color: #b0b0b0;
}

.label {
    -fx-text-fill: white;
}

.botao-imprimir {
    -fx-background-color: white;
}

.botao-imprimir:hover {
    -fx-background-color: #d2d1d1;
}

.botao-imprimir:pressed {
    fx-background-color: #b0b0b0;
}