.root {
    -fx-background-color: #262424;
}

.radio-button > .text {
    -fx-fill: white;
}

.choice-box {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.choice-box > .label {
    -fx-text-fill: black;
}

.text-field {
    -fx-background-radius: 10;
}

.botao-finalizar {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 10;
}

.botao-finalizar:hover {
    -fx-background-color: #d2d1d1;
}

.botao-finalizar:pressed {
    -fx-background-color: #b0b0b0;
}