.root {
    /*-fx-background-color: radial-gradient(radius 105%, #0b542d, #144021, #152e17, #111c0e, #020700);*/
    -fx-background-color: #262424;
    /*-fx-background-color: linear-gradient(to right top, rgba(4, 28, 69, 1) 0%, rgba(24, 27, 36, 1) 35%, rgba(78, 4, 174, 1) 100%);*/
    /*-fx-background-color: linear-gradient(to right top, #428f83, #339aa3, #3da3c3, #65a8dd, #98aaec);*/
}

.botao-voltar {
    -fx-background-color: white;
}

.botao-voltar:hover {
    -fx-background-color: #d2d1d1;
}

.botao-voltar:pressed {
    -fx-background-color: #b0b0b0;
}

.toggle-button {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-text-fill: black;
}

.toggle-button:hover {
    -fx-background-color: #bdbdbd;
}

.toggle-button:selected {
    -fx-background-color: #830808;
    -fx-text-fill: white;
}

.vbox-balcao {
    -fx-border-color: #afafaf;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}

.vbox-camarote {
    -fx-border-color: #969696;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}

.vbox-frisa {
    -fx-border-color: #7b8075;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}

.vbox-plateiaB {
    -fx-border-color: #5e5e5e;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}

.vbox-plateiaA {
    -fx-border-color: #cecece;
    -fx-border-width: 4;
    -fx-border-radius: 10;
}

.vbox-valores-cima {
    -fx-border-style: solid solid dashed solid;
    -fx-border-radius: 10 10 0 0;
    -fx-border-color: gray;
}

.vbox-valores-baixo {
    -fx-border-style: dashed solid solid solid;
    -fx-border-color: gray;
    -fx-border-radius: 0 0 10 10;
}

.vbox-valores-meio {
    -fx-border-style: dashed solid dashed solid;
    -fx-border-color: gray;
}

.anchor-valores {
    -fx-background-radius: 5;
    -fx-background-color: #e4e4e4;
}

.vbox-total {
    -fx-border-style: solid;
    -fx-border-color: gray;
    -fx-border-radius: 10;
}

.botao-continuar {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 10;
}

.botao-continuar:hover {
    -fx-background-color: #d2d1d1;
}

.botao-continuar:pressed {
    -fx-background-color: #b0b0b0;
}

