.root {
    -fx-background-color: linear-gradient(to right top, rgba(4, 28, 69, 1) 0%, rgba(24, 27, 36, 1) 35%, rgba(78, 4, 174, 1) 100%);
}

/*.toggle-button {*/
/*    -fx-background-color: #df3939;*/
/*    -fx-background-radius: 10;*/
/*}*/

/*.toggle-button:pressed {*/
/*    -fx-background-color: #932828;*/
/*}*/

.vbox-balcao {
    -fx-background-color: #f2d2d5;
}

.vbox-camarote {
    -fx-background-color: #9bc5b1;
}

.vbox-frisa {
    -fx-background-color: #f9c2bd;
}

.vbox-plateiaB {
    -fx-background-color: #deedc4;
}

.vbox-plateiaA {
    -fx-background-color: #deedc4;
}